<%- include ("partials/header") %>

<h1>Welcome to the home page</h1>

<img src="https://scotch-res.cloudinary.com/image/upload/w_1050,q_auto:good,f_auto/media/https://scotch.io/wp-content/uploads/2014/11/node-express-sendfile.png>

<%- include ("partials/footer") %>